body{
	background-image: url('dark_wood.jpg');
}

#Header {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: auto;
	border:solid 8px black;
	background-color: purple;
	text-align: center;
	vertical-align: center;
}
h1,h2,h3{
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
}

#LeftNav {
	float:left;
	width: 400px;
	border:solid 8px black;
	text-align: center;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: purple;
}

p {
	color: white;
	font-family: "Arial";
	font-weight:bold;
}

#Content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	background-color: purple;
	padding:15px;
}

#Footer{
	text-align: center;
	border: solid 8px black;
	background-color: purple;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

#bow {
	color:#FFBC00;
	font-weight: bold;
	font-size: 20px;
}








